* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    background-color: #000;
    color: white;
  }

h1 { color: orange; text-align: center; padding-top: 0.7em;}

  h2 {
    text-align: center;
    color: green;
    margin: 20px;
    font-size: 1.7rem;
    border-top: 1px solid green;
    padding-top: 0.7em;
  }

  
  .image-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
  }
  
  .image-container img {
    width: 100vw;
    height: calc(100vh - 60px);
    object-fit: cover;
    display: block;
  }
  
  .caption {
    font-size: 1.5rem;
    margin: 25px;
    color: white;
    padding-bottom: 20px;
    font-style: italic;
  }